$include /etc/inputrc

# completion options
set completion-ignore-case on
set completion-map-case on
set completion-query-items 400
set colored-stats on
set mark-directories on
set mark-symlinked-directories on
set show-all-if-unmodified on
set show-all-if-ambiguous on

# Use vi mode
set editing-mode vi
set keymap vi

# Customize vi mode bindings
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

    set keymap vi-insert
    "kj": vi-movement-mode
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-l": clear-screen
    "\C-o": clear-screen
    "\C-a": beginning-of-line
    "\C-e": end-of-line
$endif
