[user]
	name = Eric Bartels
	email = ebartels@gmail.com
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	co = checkout
	st = status
	br = branch
	lg = log --graph --all
	lgs = log --oneline
	lgg = log --oneline --graph
	ls = ls-files
	edit = "!$EDITOR `git ls-files -m` -p"
[color]
	diff = auto
	ui = true
[color "status"]
	added = green
	changed = yellow
	untracked = white
[color "branch"]
	current = green bold
	local = normal
	remote = white
[heroku]
	account = personal
[log]
	decorate = auto
	abbrevCommit = true
[status]
	short = true
[merge "ours"]
	driver = true
[diff]
	algorithm = histogram
