$include /etc/inputrc

set editing-mode vi
set keymap vi

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

    set keymap vi-insert
    "kj": vi-movement-mode
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-l": clear-screen
$endif
